
  <h1> {{ editando ? "Atualizar" : "Criar" }} Heroi </h1>
  <mat-card>
    <mat-card-content fxLayout="column">

      <mat-form-field *ngIf="editando" appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput disabled [value]="heroi.id">
      </mat-form-field>

      <mat-form-field *ngIf="heroi.forcaFisica !== undefined" appearance="fill">
        <mat-label>Força Física</mat-label>
        <textarea matInput
          [(ngModel)]="heroi.forcaFisica"
          class="resize-none"
        >
        </textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nome do Heroi</mat-label>
        <input matInput [(ngModel)]="heroi.nome" id="nome" type="text" placeholder="Nome">
      </mat-form-field>

      <mat-card-actions >
        <button mat-raised-button (click)="voltar()">Voltar</button>
        <button mat-raised-button color="primary" *ngIf="!editando" [disabled]="!formularioValido()" (click)="criarHeroi()">Salvar</button>
        <button mat-raised-button color="primary" *ngIf="editando" [disabled]="!formularioValido()" (click)="atualizarHeroi()">Atualizar</button>
      </mat-card-actions>
    </mat-card-content>
</mat-card>


